//  COLORES PRINCIPALES
$primary-color: #4CAF50;
$secondary-color: #2C3E50;
$background-color: #F4F6F9;
$text-color: #333;

//  TIPOGRAFÍA
$font-main: 'Arial', sans-serif;

//  ESPACIADOS
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px; 