.btn {
  background-color: $primary-color;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}