.features {
    padding: $spacing-large 0;

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $spacing-medium;
    }

    &__card {
        // Aquí usas tu mixin
        @include flex-center;
        flex-direction: column;
        
        // Modelo de cajas
        padding: $spacing-medium;
        border: 1px solid #e0e0e0;
        margin-bottom: $spacing-medium;
        border-radius: 10px;
        
        background-color: white;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.1);
            border-color: $primary-color;
        }
    }

    &__card-title {
        color: $secondary-color;
        margin-top: $spacing-small;
        font-weight: bold;
    }
}